.linkbutton {
    width: 90%;
    height: 3.5rem;
    margin: 0.7rem 0;
    border: none !important;
    background-color: #D6C9C2;
}

.linkbutton:hover{
    background-color: #BDA99E;
    box-shadow: none !important;
}